<% include ../partials/header %>

<div class="container">
    <header class="jumbotron mb-0">
        <div class="container text-center mb-0">
            <h1>Welcome to YelpCamp</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p class="mb-0">
                <a class="btn btn-primary btn-lg " href="/index/new">Add a new Campground</a>
            </p>
        </div>
    </header>
    
    <div class="row text-center">
        <div class="col-md-12 mb-2 mt-2">
        </div>
        <% campgroundsAdd.forEach(function(allCampgrounds){%>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="<%= allCampgrounds.image %>" alt="allCampgroundImage">
                    <div class="card-body">
                        <h5 class="card-title"><%= allCampgrounds.name %></h5>
                        <a href="/index/<%=allCampgrounds._id %>" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
        <% }); %>
        
</div>

<% include ../partials/footer %>